body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
}
ul {
    list-style-type: none;
}
.title {
    text-align: center;
}
h1.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
}
h2.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
h3.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.logo span.light {
    color: #2e2f42;
}
.logo span.dark {
    color: #f4f4fd;
}
.text-small {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.text-medium {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.button {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
}
.button:focus,
.button:hover {
    background-color: #404bbf;
}
.button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;
}
.link:focus,
.link:hover {
    color: #404bbf;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:focus,
.nav-link:hover {
    color: #404bbf;
}
.hero {
    background: #2e2f42;
}
.our-team {
    background: #f4f4fd;
}
.contacts {
    font-style: normal;
}
.contacts .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contacts .link:focus,
.contacts .link:hover {
    color: #404bbf;
}
.card {
    background-color: #fff;
}
.footer {
    background-color: #2e2f42;
}
.footer .description {
    color: #f4f4fd;
}
.description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
